@import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani:wght@400;700&display=swap');

:root {
    --primary: #00657e;
    --secondary: #82b2cf;
    --tertiary: #cdddeb;
    --black: #111;
    --white: #fff;
    --red: #dc3545;
    --yellow: #ffc107;
    --green: #28a745;
    --gray: #798486;
    --lightgray: #e5e5e5;
    --light: #f9f9f9;
    --dark: #343a40;
    --max-width: 75rem;
}

body {
    color: var(--black, black);
    background-color: var(--white, white);
    font-family: 'Mukta Vaani', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: var(--primary, darkblue);
    text-decoration: none;
}
a:hover, a:active {
    text-decoration: underline;
}

p, h1, h2, h3, h4 {
    margin-bottom: 0;
}

code {
    border: 1px dashed var(--gray, gray);
    padding: 0.2em 0.5em;
    font-weight: 700;
    vertical-align: middle;
    white-space: nowrap;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid var(--lightgray, silver);
    margin: 2rem 0;
}

comments-app {
    clear: both;
}

.quote {
    color: var(--gray, gray);
    font-style: italic;
    font-size: 1.2em;
    margin-top: 0;
}
.quote::before {
    content: "„";
    padding-right: 0.2em;
    font-size: 2em;
    font-weight: bold;
}

.button-outline-primary, .button-outline-secondary {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 1px solid var(--gray, gray);
    border-radius: 2rem;
}
a.button-outline-primary, a.button-outline-secondary {
    text-decoration: none;
}
a.button-outline-primary:hover, a.button-outline-primary:active {
    background-color: var(--primary, darkblue);
    color: var(--white, white);
}
a.button-outline-secondary:hover, a.button-outline-secondary:active {
    background-color: var(--secondary, lightblue);
    color: var(--white, white);
}
a.button-outline-secondary.disabled, a.button-outline-secondary.disabled {
    cursor: default;
    border-color: var(--lightgray, silver);
    background-color: var(--white, white);
    color: var(--lightgray, silver);
}
.button-outline-primary {
    border-color: var(--primary, darkblue);
}
a.button-outline-secondary {
    color: var(--secondary, lightblue);
}
.button-outline-secondary {
    border-color: var(--secondary, lightblue);
}

.header > .container, .main, .footer > .container {
    max-width: var(--max-width, 100%);
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-color: var(--primary, darkblue);
    border-top: 0.3rem solid var(--secondary, lightblue);
}
.header > .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.nav a {
    display: block;
    position: relative;
    padding: 1rem;
    text-decoration: none;
    color: var(--tertiary, silver);
}
.nav a:hover, .nav a:active {
    color: var(--white, white);
}
.nav a.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -0.5rem;
    vertical-align: middle;
    border-right: 0.5rem solid transparent;
    border-bottom: 0.5rem solid var(--white, white);
    border-left: 0.5rem solid transparent;
}
.nav a.extended {
    display: none;
}
.ext-links {
    padding: 0 1rem;
    white-space: nowrap;
}
.ext-links img {
    height: 2rem;
}
.ext-links a {
    display: inline-block;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
}

.main {
    padding: 0 1rem;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
}
.main img {
    max-width: 100%;
    margin: 1rem 0;
}
.blog-title {
    font-size: 2em;
}
.blog-description {
    color: var(--gray, gray);
    margin-bottom: 2rem;
}
.blog-post {
    margin-bottom: 3rem;
}
.blog-post__title a {
    color: inherit;
}
h1.blog-post__title {
    font-size: 2em;
}
h2.blog-post__title {
    font-size: 1.5em;
}
.blog-post__meta {
    color: var(--gray, gray);
    margin: 0;
}

.footer {
    border-top: 1px solid var(--lightgray, silver);
    background-color: var(--light, lightgray);
}
.footer > .container {
    padding: 2rem;
    text-align: center;
    color: var(--gray, gray);
}
.footer__extended {
    padding: 0 0.5rem;
    display: none;
}
.footer__menu a {
    padding: 0 0.5rem;
}

.syntaxhighlighter {
    -webkit-box-sizing: border-box !important;
            box-sizing: border-box !important;
    margin: 2rem 0 !important;
    border: 1px dashed gray !important;
    padding: 1rem 0 !important;
}

@media (min-width: 42rem) {
    
    body {
        font-size: 1.2em;
    }
    .nav {
        padding: 0 1rem;
    }
    .nav a.extended {
        display: block;
    }
    .ext-links {
        padding: 0 2rem;
    }

    .main {
        padding: 0 2rem;
    }
    .main img {
        margin: 2rem 0;
    }
    .blog-description {
        margin-bottom: 3rem;
    }
    
    .footer > .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .footer__extended {
        display: block;
    }

    .blog-title {
        font-size: 3em;
    }
    .blog-description {
        font-size: 1.3em;
    }
}
