RewriteEngine on                                   

RewriteRule ^articles/([0-9]+)/comments$ comments.php [NC,L]
RewriteRule ^articles/([0-9]+)/comments/([0-9]+)$ comments.php [NC,L] 

RewriteRule !\.(js|ico|gif|jpg|png|css|html|htm|xml|txt|dat|pdf|json|php|ttf|woff|woff2)$ index.php [NC,L] 

# PHP settings
php_flag magic_quotes_gpc off
php_flag register_globals off
php_flag short_open_tag on

# App settings
SetEnv BACKEND_ACCESS_KEY xxx